.container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container form {
  display: flex;
  justify-content: center;
  margin: auto;
}

.searchResults {
  display: flex;
  gap: 1.5rem;
  height: 500px;
}


.searchResults h3 {
  font-size: 1.2rem;
}

.searchResults img {
  aspect-ratio: 9/16;
  object-fit: cover;
  overflow: hidden;
}

.products {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.2rem;
  width: 250px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid black;
}